body {
    display: flex;
    height: 100vh;
}

nav {
    border-right: 1px solid #E0E0E0;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 25px;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

main {
    margin: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px 0;
    line-height: 150%;
}

table {
    width: 100%;
}

thead {

}

tbody {

}

tr {

}

td {

}

th {

}

.links-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.links-list > li {
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 8px 10px 8px 10px;
}

.links-list > li.selected {
    background-color: #F7F7F7;
}

.links-list > li > a {
    color: black;
    display: flex;
    line-height: normal;
    align-items: center;
    gap: 10px;
}

.links-list > li > a > img {
    
}

.tools {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: center;
}

.search-string {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 7px 12px;
    display: flex;  
    gap: 0.7em;
    align-items: center;
}

.search-input, .search-input:focus {
    border: none;
    outline: none;
    padding: 0;
    color: #828282;
}

.search-icon {

}

.style-selector-block {
    background-color: #F7F7F7;
    border-radius: 8px;
    padding: 4px;
}

.style-selector-button {
    border-radius: 4px;
    padding: 4px 12px;
    border: none;
    cursor: pointer;
    background-color: #F7F7F7;
    display: inline-flex;
    align-items: center;
}

.style-selector-button.selected {
    background-color: #ffffff;
}

#title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

/* 
F7F7F7 цвет для бэкграунда переключателя стилей и выделеной кнопки в навбаре
E0E0E0 цвет для границ строк, границ зон страницы, гарниц ячеек (имя, фамилия, имейл) и поисковой строки
828282 цвет текста столбца дата (заголовок столбца тоже)
 */