body {
    display: flex;
    height: 100vh;
}

nav {
    border-right: 1px solid #E0E0E0;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 25px 25px 25px 10px;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

main {
    margin: 0 25px 0 25px;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

table {

}

thead {

}

tbody {

}

tr {

}

td {

}

th {

}

.links-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.links-list > li {
    border-radius: 8px;
    margin-bottom: 4px;
    padding: 8px 10px 8px 10px;
}

.links-list > li.selected {
    background-color: #F7F7F7;
}

.links-list > li > a {
    color: black;
    font-weight: 500;
    display: flex;
}

.links-list > li > a > img {
    margin: auto 10px auto 0;
}

.search-string {

}

.search-input {

}

.search-icon {

}

.style-selector-block {

}

.style-selector-button {

}

#title {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 25px 0;
}

/* 
F7F7F7 цвет для бэкграунда переключателя стилей и выделеной кнопки в навбаре
E0E0E0 цвет для границ строк, границ зон страницы, гарниц ячеек (имя, фамилия, имейл) и поисковой строки
828282 цвет текста столбца дата (заголовок столбца тоже)
 */