body {
    font-family: Inter, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    margin: 0 80px 0 80px;
}

main {
    margin: 0 80px 0 80px;
}

footer {
    display: flex;
    margin: 30px 80px 0 80px;
    padding: 30px 0 30px 0;
    border-top: 2px solid #E6E6E6;
}

nav {
    font-size: 20px;
    line-height: 150%;
    height: 164px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

nav > div > a {
    height: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;

}

.left-side {
    margin-right: auto;
}

.right-side {
    margin-left: auto;
}

.right-side > a {
    margin-left: 48px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 15px;
    margin: 0 0 0 0;
}

.page-header {
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -2%;
    margin: 0 0 24px 0;
}

.page-description {
    color: rgba(130, 130, 130, 1);
    font-weight: 400;
    font-size: 24px;
    margin: 0 0 60px 0;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s, box-shadow 0.5s ;
    cursor: pointer;
    border-radius: 8px;
}

.card:hover {
    transform: scale(102%);
    box-shadow: 0 0 10px 10px rgba(128, 128, 128, 0.2);
}

.card-img {
    border-radius: 8px;
}

.card-header {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin: 24px 0 0 0;
}

.card-description {
    color: rgba(130, 130, 130, 1);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

.links {
    display: flex;
}

.links > a {
    margin: 8px;
}

.links > a > img {
    vertical-align: middle;
    transition: opacity 0.3s;
}

.links > a > img:hover {
    opacity: 0.7;
}

.map {
    display: flex;
}

.map-column {
    margin-left: 50px;
}

.map-column > h4 {
    margin: 0 0 20px 0;
    padding: 0;
}

.map-column-list {
    font-size: 16px;
    font-weight: 600;
    column-count: 1;
    column-gap: 0;
    padding: 0;
    margin: 0;
}

.map-column-list:has(li:nth-child(5)) {
    column-count: 2;
    column-gap: 40px;
} 

.map-column-list > li {
    break-inside: avoid;
    color: #454545;
    list-style-type: none;
    line-height: 200%;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
}

.footer-column > p {
    font-weight: 500;
    font-size: 24px;
}

.city-paragraph {
    margin: 60px 20% 60px 20%;
    font-weight: 500;
    font-size: 20px;
}

.city-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 30px;
}

.city-img {
    aspect-ratio: 10/7;
    object-fit: cover;
    border-radius: 8px;
}

.city-cover {
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 8px;
}

.cards-header {
    font-weight: 600;
    font-size: 40px;
    margin: 0 0 30px 0;
}

.cards-mini {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 30px;
    margin: 0 0 0 0;
}

.card-header-mini {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 24px 0 0 0;
}

.comments-section {
    border-top: 2px solid #E6E6E6;
    margin: 20px 0 0 0;
}

.comments {
    display: flex;
    flex-direction: column;
}

.comment {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.comment-author {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
}

.comment-date {
    font-weight: 700;
    font-size: 16px;
    color: #828282;
    margin: 4px 0 4px 0;
}

.comment-message {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin: 0;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-group > input, .input-name-group > input {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    color: #828282;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
    min-width: 200px;
}

.input-name-group {
    display: flex;
    gap: 16px;
}

.input-message {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    color: #828282;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    resize: none;
    font-family: Inter, sans-serif;
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 16px 32px;
    cursor: pointer;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
}

.btn-mini {
    align-self: flex-start;
}